@import './light.scss';
@import './dark.scss';

:root {
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
}

body {
  &[theme-color='contrast'] {
    --ion-color-primary: #3F8DD0;
    --ion-color-primary-rgb: 153, 153, 153;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-darker: #1e2023;
    --ion-color-primary-darkest: #000000;
  }
}

ion-button::part(native) {
  color: var(--ion-color-medium-contrast);
}

ion-checkbox::part(container) {
  --checkmark-color: var(--ion-color-medium-contrast);
}
